@import url("https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body{
  min-height: 100vh;
  min-width: 100%;
}

.header {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  margin-top: 170px;
  color: #000;
}

.header h1 {
  margin: auto;
  max-width: 971px;
  max-height: 160px;
  font-size: 72px;
  font-weight: 400;
  line-height: 80px;
  font-family: "Vazirmatn", sans-serif;
}

.header h5 {
  margin: auto;
  max-height: 36px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}

.main-img {
  margin-top: 62px;
}

.ready {
  max-width: 1920px;
  max-height: 885px;
  margin-top: 133px;
  margin-bottom: 105px;
}

.ready-title {
  margin-top: 80px;
  margin-bottom: 70px;
  color: #1E1E1E;
}

.ready h5 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  max-width: 90px;
  max-height: 28px;
  font-family: "Montserrat", sans-serif;
}

.ready h1 {
  max-width: 265px;
  max-height: 52px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-family: "Montserrat", sans-serif;

  margin-top: 7px;
}

.table {
  max-width: 1110px;
}

.table-title {
  width: 48px;
  height: 48px;
  background-color: #0baaca;
  border-radius: 50px;
  position: relative;
}

.table-title p {
  color: #fff;
  width: 10px;
  height: 36px;
  font-weight: 700;
  font-size: 24px;
  align-items: center;
  font-family: "Vazirmatn", sans-serif;

  position: absolute;
  top: 6px;
  left: 16px;
}

.title3 {
  background-color: #dee2e6;
}

.table-title .img {
  margin-top: 13px;
}

.title1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #1e1e1e;
}

.des {
  color: #495057;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
}

.table-borderless>tbody>tr>td,
.table-borderless>tbody>tr>th,
.table-borderless>tfoot>tr>td,
.table-borderless>tfoot>tr>th,
.table-borderless>thead>tr>td,
.table-borderless>thead>tr>th {
  border: none;
}

.systemImg {
  margin-top: 36px;
}

.group2 {
  height: 292px;
  margin: 105px;
  position: relative;
}

.box1 {
  width: 449px;
  height: 156px;
  line-height: 28px;
  font-style: normal;
  margin-top: 46px;
  margin-right: 0;
  font-family: "Montserrat", sans-serif;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
  align-items: end;
  position: absolute;
  bottom: 40px;
  right: 150px;
}

.box1 h5 {
  font-size: 20px;
  font-weight: bold;
}

.box1 h1 {
  font-size: 39px;
  text-align: right;
  font-weight: bold;
}

.box2 {
  max-width: 505px;
  max-height: 99px;
  font-size: 28px;
  line-height: 28px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  bottom: 60px;
  left: 150px;
  mix-blend-mode: normal;
  opacity: 0.24;
}

.box2 div div {
  margin-top: 10px;
}

.ms{
  display: flex;
  justify-content: space-around;
}

.group3 {
  height: 742px;
  padding-top: 79px;
}

.group3-container {
  height: 579px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.g3-box1 {
  margin-bottom: 84px;
  margin-right: 130px;
  text-align: right;
  direction: rtl;
}

.g3-box1 h5 {
  text-align: right;
  margin-top: 45px;
}

.g3-box1>h1 {
  width: 475px;
  justify-content: right;
  text-align: right;
  line-height: 28px;
  margin-top: 4px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-family: "Montserrat", sans-serif;
}

.g3-box1>div>div {
  width: 323px;
  position: relative;
}

.g3-box1>div>div>h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 28px;
  color: #1E1E1E;
  justify-content: right;
  text-align: right;
}

.g3-box1>div>div>h1:first-child {
  margin-top: 20px;
}

.g3-box1>div>div>div {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #495057;
  margin-top: 4px;
  text-align: right;
  direction: rtl;
}

.check {
  width: 32px;
  height: 32px;
  position: absolute;
  border-radius: 50px;
  display: grid;
  place-items: center;
}

.check1 {
  left: 10px;
  top: 0;
}

.check2 {
  left: 10px;
  top: 0;
}

.check3 {
  left: 10px;
  top: 0;
}

.g3-box2 {
  position: relative;
}

.g3-box2>div {
  width: 266px;
  height: 265px;
  border-radius: 24px;
  box-shadow: 0 0 11px 0 #fff;
  background-color: #fff;
}

.g3-box2 .b1 {
  position: absolute;
  top: 0;
  left: 50px;
}

.g3-box2 .b2 {
  position: absolute;
  bottom: 0;
  left: 50px;
}

.g3-box2 .b3 {
  position: absolute;
  top: calc(50% / 2);
  left: 350px;
}

.g3-box2 div {
  display: grid;
  place-items: center;
}

.g3-box2 div div p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 400;
  margin-top: 10px;
}

.g3-box2 div div .icon {

  position: absolute;
  top: 14px;
  right: 14px;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.icon1 {
  background-color: #FFEDDE;
}

.icon2 {
  background-color: #EFE5FF;
}

.icon3 {
  background-color: #D3FFE7;
}

.group-3 {
  margin: auto;
  height: 567px;
  padding-top: 148px;
}

.group-3 .title {
  display: grid;
  color: #1E1E1E;
  place-items: end;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.group-3 .title h5 {
  font-size: 20px;
  line-height: 28px;
}

.group-3 .title h5 {
  font-size: 40px;
  line-height: 52px;
}

.boxs {
  display: flex;
  justify-content: space-between;
}

.boxs>div {
  background-color: #fff;
  width: 350px;
  height: 224px;
  display: grid;
  place-items: center;
  border-radius: 10px;
}

.boxs>div>div {
  margin-top: 32px;
  width: 48px;
  height: 48px;
  border-radius: 50px;
}

.boxs>div>h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  color: #1E1E1E;
}

.boxs>div>p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
  color: #495057;
  width: 286px;
}

.group-4 {
  padding-top: 120px;
}

.group-4>h5 {
  font-size: 20px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #1E1E1E;
}

.group-4>h5 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: #1E1E1E;
}

.group4_boxs {
  display: flex;
  justify-content: space-around;
}

.g4_box {
  background: #fff;
  border-radius: 12px;
  width: 540px;
  height: 440px;
  display: grid;
  place-content: center;
  margin-top: 145px;
}

.group4_boxs>div>div {
  margin-top: 56px;
}

.group4_boxs>div>div>h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #1E1E1E;
  margin-top: 5px;
}

.group4_boxs>div>div>h3 {
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  color: #1E1E1E;
  margin-bottom: 17px;
}

.group4_boxs>div>div>p {
  width: 428px;
  height: 80px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #1E1E1E;
  font-family: "Open Sans", sans-serif;
}

.group4_boxs>div>div>div {
  height: 58px;
  width: 427px;
  background-color: #0BAACA;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  display: grid;
  place-items: center;
  margin: 52px auto 56px auto;
  border-radius: 4px;
  padding: 16px, 162px, 16px, 162px;
  gap: 10px;
  transition: all 0.5s;
}

.group4_boxs>div>div>div:hover {
  background-color: #05BFDB;
}

.group-4>p {
  color: #FF0000;
  font-weight: 400;
  font-size: 27px;
  line-height: 24px;
  letter-spacing: -0.2;
  font-family: "Open Sans", sans-serif;
  margin-top: 40px;
  font-style: normal;
}

.group-5 {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.group5_box1 {
  background-color: #fff;
  border-radius: 24px;
  width: 570px;
  height: 427px;
  display: grid;
  place-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 60px;
  margin-bottom: 80px;
}

.grid-container :nth-child(9){
  border: #81C4FF 2px outset;
  border-style: groove;
  background-color: #EEF7FF;
}

.grid-item {
  border: 1px solid #EBEBEB;
  padding: 20px 30px;
  margin: 3px;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
}


.group5_box2 h5 {
  margin-top: 88px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #1E1E1E;
  height: 29.44px;
  text-align: right;
}

.group5_box2 h1 {
  margin-top: 4.21px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-family: "Montserrat", sans-serif;
  height: 54.67px;
  text-align: right;
}

.group5_box2 p {
  margin-top: 28.38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
  height: 54.67px;
  color: #495057;
  width: 410px;
  height: 100.92px;
  text-align: right;
}

.group-6 {
  margin-top: 111px;
  background-color: #626ED4;
  height: 348px;
  width: 100%;
  padding: 80px;
  padding: 70px 70px;
}

.group-6 div {
  height: 188px;
  background-color: #F8F9FA;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-radius: 12px;
}

.group-6 div div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.group-6 div>div>div>h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;

}

.group-6 div>div>div>button {
  background-color: #15F57C;
  width: 277px;
  height: 68px;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  z-index: 100;
}

footer {
  background-color: #fff;
}

footer>div {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #6C757D;
}

footer>div>a {
  text-decoration: none;
  color: #40C780;
}

footer ul {
  list-style-type: none;
  display: flex;
}

footer ul li {
  margin-right: 70px;
}